{% if testimonials is defined and testimonials|length > 0 %}
  <div class="app-section app-section--testimonials{% if section_classes is defined and section_classes is not empty %} {{ section_classes }}{% endif %}">
    <div class="-inner scrolling-machine sm--from-left">
      <h3 class="heading text-center mb-4" id="temoignages" data-text="Témoignages" style="--heading-text-drop-offset: -3em">Témoignages</h3>
      <p class="text-muted mb-5">
        Quoi de mieux que mes clients et collaborateurs pour parler de mon travail ?
      </p>

      <div class="simple-slider simple-slider--testimonials -is-first{% if testimonials|length == 1 %} -is-last{% endif %}">
        <ul class="simple-slider-inner">
        {% for testimonial in testimonials %}
          <li class="simple-slider-item{% if loop.first %} -current{% endif %}">
            <blockquote class="blockquote">
              <p>{{ testimonial.message|nl2br }}</p>
              <footer class="blockquote-footer">
                {% if testimonial.signType == 'both' %}
                  {{ testimonial.client.firstname }} {{ testimonial.client.lastname|first }}.<br>
                  <b>{{ testimonial.client.company }}</b>
                {% elseif testimonial.signType == 'company'%}
                  <b>{{ testimonial.client.company }}</b>
                {% else %}
                  {{ testimonial.client.firstname }} {{ testimonial.client.lastname|first }}.
                {% endif %}
              </footer>
            </blockquote>
          </li>
        {% endfor %}
        </ul>
        <div class="simple-slider-nav">
          <button class="-btn -btn-previous" type="button" name="previous">
            <span class="sr-only">précédent</span>
          </button>
          <button class="-btn -btn-next" type="button" name="next">
            <span class="sr-only">suivant</span>
          </button>
        {#
          <div class="-dots">
          {% for testimonial in testimonials %}
            <span class="-dot"></span>
          {% endfor %}
          </div>
        #}
        </div>
      </div>
    </div>
  </div>
{% endif %}
