{# default twig values #}
{% if bg_animated is not defined %}{% set bg_animated = false %}{% endif %}
{% set domain = app.request.getSchemeAndHttpHost() %}
{% set is_freelance = (identity.is_freelance is defined) ? identity.is_freelance : true %}
{% set meta_title_base = "Litti Aurélien | Développeur Web - Fullstack" ~ ((is_freelance == true) ? " - Indépendant" : "") ~ " | Aix-en-Provence, Marseille, Toulon" %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {# meta.title #}
    <title>
    {%- block meta_title -%}
      {%- if meta.title is defined and meta.title is not empty -%}
        {{ meta.title }} - {{ meta_title_base }}
      {% else %}
        {{ meta_title_base }}
      {%- endif -%}
    {%- endblock -%}
    </title>

    {# meta.favicons #}
    {% include 'components/head-favicons.html.twig' %}

    {# OGs #}
    <meta property="og:url" content="{{ domain }}{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% if meta.title is defined and meta.title is not empty %}{{ meta.title }} - {% endif %}{{ meta_title_base }}">
    {% if meta.desc is defined and meta.desc is not empty %}
    <meta property="og:description" content="{{ meta.desc }}" />
    {% endif %}
    <meta property="og:image" content="{{ domain }}{{ asset('build/images/og-image.png') }}">

    {# meta.desc #}
    {%- block meta_desc -%}
      {% if meta.desc is defined and meta.desc is not empty %}
        <meta name="description" content="{{ meta.desc }}" />
      {% endif %}
    {%- endblock -%}

    {# meta.robots #}
    {% if meta.robots is defined and meta.robots is not empty %}
      <meta name="robots" content="{{ meta.robots }}" />
    {% else %}
      <meta name="robots" content="noindex, nofollow" />
    {% endif %}

    {# Base stylesheets #}
    <link rel="stylesheet" href="{{ asset('build/shuri.css') }}">
    <link rel="stylesheet" href="{{ asset('build/google-fonts.css') }}">
    {# Custom stylesheets from twig templates #}
    {% block stylesheets %}{% endblock %}
  </head>

  <body class="app-core{% if core_class is defined %} {{ core_class }}{% endif %}{% if bg_animated == true %} app-core--bg-animated{% endif %} app-core--no-script">
    {# SVG gradients list to use in SCSS/CSS #}
    {% include 'components/svg-gradients.html.twig' %}

    {# Header #}
    {% block header %}
      {% include 'components/header.html.twig' %}
    {% endblock %}

    <div class="app-body{% if body_class is defined %} {{ body_class }}{% endif %}">
      {% include 'components/no-script.html.twig' %}

      {# Notices/Errors messages from "flashbag" #}
      {% block flashes %}
        {% include 'components/flashes.html.twig' %}
      {% endblock %}

      {# Body #}
      {% block body %}{% endblock %}
    </div>

    {# Footer #}
    {% block footer %}
      {% include 'components/footer.html.twig' %}
    {% endblock %}
    {#
    {% if bg_animated == true %}
      <div class="app-bg"></div>
    {% endif %}
    #}
    <div class="app-bg"></div>

    {# used to stack Bootstrap Toast #}
    <div class="app-toaster d-flex justify-content-center align-items-center">
      <div class="toast toast-form-contact fade hide" role="status" aria-live="polite" aria-atomic="true" data-delay="10000">
        <div class="toast-header">
          <strong class="mr-auto">Retour du formulaire de contact</strong>
          {# <small>11 mins ago</small> #}
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="toast-body"></div>
      </div>
    </div>

    {# Custom javascripts from twig templates #}
    {% block javascripts_defines %}{% endblock %}

    {# Base javascripts #}
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/entries.js') }}"></script>
    <script src="{{ asset('build/shuri.js') }}"></script>
    {# Custom javascripts from twig templates #}
    {% block javascripts %}{% endblock %}
  </body>
</html>
