{# default twig values #}
{% if bg_animated is not defined %}{% set bg_animated = false %}{% endif %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    {# meta.title #}
    <title>
    {%- block meta_title -%}
      {%- if meta.title is defined and meta.title is not empty -%}
        {{ meta.title }} -
      {%- endif -%}Litti Aurélien | Développeur Web - Indépendant - Fullstack | Aix-en-Provence, Marseille, Toulon
    {%- endblock -%}
    </title>

    {# meta.favicons #}
    {% include 'components/head-favicons.html.twig' %}

    {# meta.desc #}
    {%- block meta_desc -%}
      {% if meta.desc is defined and meta.desc is not empty %}
        <meta name="description" content="{{ meta.desc }}" />
      {% endif %}
    {%- endblock -%}

    {# meta.robots #}
    {% if meta.robots is defined and meta.robots is not empty %}
      <meta name="robots" content="{{ meta.robots }}" />
    {% else %}
      <meta name="robots" content="noindex, nofollow" />
    {% endif %}

    {# Base stylesheets #}
    <link rel="stylesheet" href="{{ asset('build/shuri.css') }}">
    <link rel="stylesheet" href="{{ asset('build/google-fonts.css') }}">
    {# Custom stylesheets from twig templates #}
    {% block stylesheets %}{% endblock %}
  </head>

  <body class="app-core{% if core_class is defined %} {{ core_class }}{% endif %}{% if bg_animated == true %} app-core--bg-animated{% endif %}">
    {# Header #}
    {% block header %}
      {% include 'components/header.html.twig' %}
    {% endblock %}

    <div class="app-body{% if body_class is defined %} {{ body_class }}{% endif %}">
      {# Notices/Errors messages from "flashbag" #}
      {% block flashes %}
        {% include 'components/flashes.html.twig' %}
      {% endblock %}

      {# Body #}
      {% block body %}{% endblock %}
    </div>

    {# Footer #}
    {% block footer %}
      {% include 'components/footer.html.twig' %}
    {% endblock %}

    <div class="app-contact">{# TODO ! #}</div>
    
    {#
    {% if bg_animated == true %}
      <div class="app-bg"></div>
    {% endif %}
    #}
    <div class="app-bg"></div>

    {# Custom javascripts from twig templates #}
    {% block javascripts_defines %}{% endblock %}

    {# Base javascripts #}
    {#
    <!-- can't use symfony Encore in 0.24.0 now (downgraded to 0.20.0 see "package.json") -->
    <script src="{{ asset('build/runtime.js') }}"></script>
    #}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/vendors.js') }}"></script>
    <script src="{{ asset('build/shuri.js') }}"></script>
    {# Custom javascripts from twig templates #}
    {% block javascripts %}{% endblock %}
  </body>
</html>
