{% set is_freelance = (identity.is_freelance is defined) ? identity.is_freelance : true %}
{% set meta_title_base = "Litti Aurélien | Développeur Web - Fullstack" ~ ((is_freelance == true) ? " - Indépendant" : "") %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>Curriculum vitae - {{ meta_title_base }}</title>

    <!-- Stylesheets -->
    <!-- <link href="css/bootstrap/bootstrap.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="{{ asset('build/google-fonts.css') }}">
    <link rel="stylesheet" href="{{ asset('build/curry-q.css') }}">
  </head>
  <body>
    <div class="curry-q-vitae">
      <header class="cqv-block block--transparent block--header">
        <h1 class="_name">
          {{ identity.last_name }} {{ identity.first_name }}
          <small>{{ identity.status }}</small>
        </h1>

        <div class="_infos">
          <span class="info-item info--phone">
            <span class="_icon">
              <span class="icon-mobile"></span>
            </span>
            <span class="_text">{{ identity.phone }}</span>
          </span>

          <span class="info-item info--mail">
            <span class="_icon">
              <span class="icon-mail"></span>
            </span>
            <span class="_text">{{ identity.mail }}</span>
          </span>

          <span class="info-item info--address">
            <span class="_icon">
              <span class="icon-marker"></span>
            </span>
            <span class="_text">{{ identity.location.city }}, {{ identity.location.department }}</span>
          </span>
        </div>
      </header>

      <div class="cqv-block block--infos-user">
        <span class="info-item item--left">
          <span class="_icon">
            <span class="icon-mobile"></span>
          </span>
          <span class="_text">{{ identity.phone }}</span>
        </span>

        <span class="info-item item--right">
          <span class="_icon">
            <span class="icon-mail"></span>
          </span>
          <span class="_text">{{ identity.mail }}</span>
        </span>
      </div>

      <div class="cqv-block block--default block--avatar">
        <div class="_avatar">
          <img src="{{ asset('build/images/photo.png') }}" alt="Photo de Litti Aurélien" />
        </div>
      </div>

      <div class="cqv-block block--default block--main">
          <div class="main-col main-col--left">
            <div class="cqv-frame frame--formations">
              <h2 class="_title">Formations</h2>
              <span class="_icon"><span class="icon-graduation-cap"></span></span>

              {% for edu in educations %}
                <div class="_content">
                  <div class="_subtitle">{{ edu.yearStart }} - {{ edu.yearEnd }}</div>
                  <div class="_text">{{ edu.label|raw }}</div>
                </div>
              {% endfor %}
            </div>

            <div class="cqv-frame frame--skills">
              <h2 class="_title">Compétences</h2>
              <span class="_icon"><span class="icon-magic"></span></span>

              {% for skill_category in skills_categories %}
                <div class="_content skills-scale--{{ skill_category.slug }}">
                  <div class="_subtitle">{{ skill_category.label }}</div>
                  <div class="_text">
                  {% for skill in skill_category.curryQSkills %}
                    <span class="skills-scale">
                      <span class="_rating">
                      {% for i in 1..5 %}
                        <span class="_rate{% if skill.level < i %} rate--empty{% endif %}"></span>
                      {% endfor %}
                      </span>
                      <span class="_label">{{ skill.label }}</span>
                    </span>
                  {% endfor %}
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>


          <div class="main-col main-col--right">
            <div class="cqv-frame frame--parcours">
              <h2 class="_title">Parcours</h2>
              <span class="_icon"><span class="icon-briefcase"></span></span>

              {% for career in careers %}
              <div class="_content">
                <div class="_subtitle">
                  {% if career.dateEnd|date('Y') - career.dateStart|date('Y') < 1 %}
                    <span>{{ career.dateStart|format_date(pattern='MMMM') }}</span>
                  {% else %}
                    <span>{{ career.dateStart|format_date(pattern='MMMM y') }}</span>
                  {% endif %}
                  {% if career.dateEnd is not null %}
                    - <span>{{ career.dateEnd|format_date(pattern='MMMM y') }}</span>
                  {% else %}
                    - Aujourd'hui
                  {% endif %}
                </div>
                <div class="_text">
                  {{ career.job }} - {{ career.company|raw }}<br>
                  <small>{{ career.description|raw }}</small>
                </div>
              </div>
              {% endfor %}
            </div>

            <div class="cqv-frame frame--experiences">
              <h2 class="_title">Projets</h2>
              <span class="_icon"><span class="icon-paper-plane"></span></span>

              {% for project in projects %}
              <div class="_content">
                <div class="_subtitle">
                  {% if project.dateEnd|date('Y') - project.dateStart|date('Y') < 1 %}
                    <span>{{ project.dateStart|format_date(pattern='MMMM') }}</span>
                  {% else %}
                    <span>{{ project.dateStart|format_date(pattern='MMMM y') }}</span>
                  {% endif %}
                  {% if project.dateEnd is not null %}
                    - <span>{{ project.dateEnd|format_date(pattern='MMMM y') }}</span>
                  {% else %}
                    - En cours
                  {% endif %}
                </div>
                <div class="_text">
                  {{ project.label }}<br>
                  <small>{{ project.description|raw }}</small>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
      </div>

      <div class="cqv-block block--transparent block--spare-time">
        <div class="_title">Loisirs</div>
        <div class="list-rounded-icons">
          <div class="ri-item item--music">
            <div class="_icon"><span class="icon-music"></span></div>
            <div class="_label">Musique</div>
          </div>

          <div class="ri-item item--cinema">
            <div class="_icon"><span class="icon-cinema"></span></div>
            <div class="_label">Cinéma</div>
          </div>

          <div class="ri-item item--gaming">
            <div class="_icon"><span class="icon-gamepad"></span></div>
            <div class="_label">Jeux-vidéo</div>
          </div>

          <div class="ri-item item--moto">
            <div class="_icon"><span class="icon-motorcycle"></span></div>
            <div class="_label">Moto</div>
          </div>
        </div>

        <!--
        <div class="_patchwork patchwork--music pappug-flipper" style="display: none">
          <div class="patchwork-item pappug-item">
            <img src="https://i1.sndcdn.com/artworks-000111778084-ol8w9r-t200x200.jpg"
              alt="Cover Puppet &amp; The Eden Project - The Fire" />
          </div>
          <div class="patchwork-item pappug-item">
            <img src="https://i1.sndcdn.com/artworks-000083359081-865sev-t200x200.jpg"
              alt="Cover Ephixa - Catfish" />
          </div>
          <div class="patchwork-item pappug-item">
            <img src="https://i1.sndcdn.com/artworks-000124691338-tngkln-t200x200.jpg"
              alt="Cover Ephixa - Warcraft" />
          </div>
          <div class="patchwork-item pappug-item">
            <img src="https://i1.sndcdn.com/artworks-000081977308-dfz2p5-t200x200.jpg"
              alt="Cover Borealis - Imago VX" />
          </div>
          <div class="patchwork-item pappug-item">
            <img src="https://i1.sndcdn.com/artworks-000076173814-e8bls0-t200x200.jpg"
              alt="Cover Blue in Grey" />
          </div>
          <div class="patchwork-item pappug-item">
            <img src="https://i1.sndcdn.com/artworks-000077102373-l6czgk-t200x200.jpg"
              alt="Cover Jacoo - Andromeda" />
          </div>
          <div class="patchwork-item pappug-item">
            <img src="https://i1.sndcdn.com/artworks-000076890315-t4yc1g-t200x200.jpg"
              alt="Cover error23 - Digital Cosmos (Original Mix)" />
          </div>
          <div class="patchwork-item pappug-item">
            <img src="https://i1.sndcdn.com/artworks-000073335116-x1epug-t200x200.jpg"
              alt="Cover BLCKSPNKRS - Mantra (Original Mix)" />
          </div>
          <div class="patchwork-item pappug-item">
            <img src="https://i1.sndcdn.com/artworks-000005783186-z9knr1-t200x200.jpg"
              alt="Cover Emil Berliner - Flummifreuden" />
          </div>
          <div class="patchwork-item pappug-item">
            <img src="https://i1.sndcdn.com/artworks-000053809503-n0zvms-t200x200.jpg"
              alt="Cover Marek Hemmann - Topper" />
          </div>
          <div class="patchwork-item pappug-item">
            <img src="https://i1.sndcdn.com/artworks-000067328224-xn1kvh-t200x200.jpg"
              alt="Cover Space Motion by Elleven" />
          </div>
          <div class="patchwork-item pappug-item">
            <img src="https://i1.sndcdn.com/artworks-000049830635-wxr61n-t200x200.jpg"
              alt="Cover Maribou State - Tongue (Feat. Holly Walker)" />
          </div>
        </div>
        -->
        <script>
          // var $patchworks = $('._patchwork');
          // var $patchworks_music = $patchworks.filter('.patchwork--music');
          //
          // for(i = 0; i < 4; i++) {
          //   var $clones = $patchworks_music.find('.patchwork-item').clone();
          //   $patchworks_music.append($clones);
          // }
        </script>
      </div>

      <footer class="cqv-block block--default block--footer">
          Fait avec <span class="made-with-love icon-heart"></span> par <a href="{{ path('home') }}">Litti Aurélien</a>
      </footer>
    </div>
  </body>
</html>
