{% set is_home = (app.request.attributes.get('_route') == 'home') %}
{% set nav_link_class = '' %}
{% if is_home %}
  {% set nav_link_class = ' scroll-to' %}
{% endif %}

<header class="app-header">
  <nav class="navbar navbar-expand-sm navbar-dark">
    <div class="container-fluid">
      {% block nav_brand %}
        {# NOTE Remove link (<a>) arround logo (brand) if current route (~path) is "home" #}
        {% if is_home %}
        <div class="navbar-brand">
          {% include 'components/logo.html.twig' with { display_identity: true, set_titles : is_home } %}
        </div>
        {% else %}
        <a class="navbar-brand" href="{{ path('home') }}">
          {% include 'components/logo.html.twig' with { display_identity: true, set_titles : is_home } %}
        </a>
        {% endif %}
      {% endblock %}

      {# Main navigation #}
      {% block nav %}
        <button class="navbar-toggler" type="button" data-toggle="" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link{{ nav_link_class }}" href="{{ path('home') }}#qui-suis-je">
                Qui suis-je ?
              </a>
            </li>
            <li class="nav-item{% if app.request.attributes.get('_route') == 'projects' %} active{% endif %}">
              {#<a class="nav-link" href="{{ path('projects') }}">#}
              <a class="nav-link{{ nav_link_class }}" href="{{ path('home') }}#projets">
                Projets
              </a>
            </li>
            {#<li class="nav-item">
              <a class="nav-link" href="#">Logs.</a>
            </li>#}
            <li class="nav-item">
              <a class="btn-toggle-form-contact nav-link" href="{{ path('home') }}#contact-form">
                Contact
              </a>
            </li>
          </ul>
        </div>
      {% endblock %}
    </div>
  </nav>
</header>
