{% extends 'dashboard/components/base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="card mb-4 rb-key-stats">
      <div class="card-header">
        <h4 class="mb-0">Quelques chiffres clé</h4>
      </div>
      <div class="card-body">
        <div class="list-icons row justify-content-center">
          <div class="-item col-6 col-md-4 col-lg-2 col-print-2 mb-2 mb-md-0">
            <span class="icon icon-rocket"></span>
            <span class="-title">Années d'activité</span>
            <span class="-number text-primary">
              {% if stats.nb_years_activity < 1 %}
                &lt;1an
              {% else %}
                +{{ stats.nb_years_activity }}an{% if stats.nb_years_activity > 1 %}s{% endif %}
              {% endif %}
            </span>
          </div>
          <div class="-item col-6 col-md-4 col-lg-2 col-print-2 mb-2 mb-md-0">
            <span class="icon icon-users"></span>
            <span class="-title">Nb. clients</span>
            <span class="-number text-primary">{{ stats.turnover_clients|length }}</span>
          </div>
          <div class="-item col-6 col-md-4 col-lg-2 col-print-2 mb-2 mb-md-0">
            <span class="icon icon-star-half"></span>
            <span class="-title">Nb. témoignages</span>
            <span class="-number text-primary">{{ stats.nb_testimonials }}</span>
          </div>
          <div class="-item col-6 col-md-4 col-lg-2 col-print-2 mb-2 mb-md-0">
            <span class="icon icon-calendar-full"></span>
            <span class="-title">CA mensuel</span>
            <span class="-number text-primary">{{ stats.monthly_turnover|round(2) }}€</span>
          </div>
          <div class="-item col-6 col-md-4 col-lg-2 col-print-2 mb-2 mb-md-0">
            <span class="icon icon-briefcase"></span>
            <span class="-title">CA total</span>
            <span class="-number text-primary">{{ stats.total_turnover }}€</span>
          </div>
          <div class="-item col-6 col-md-4 col-lg-2 col-print-2">
            <span class="icon icon-file-empty"></span>
            <span class="-title">Nb. devis</span>
            <span class="-number text-primary">{{ quotes|length }}</span>
          </div>
        </div>
      </div>
    </div>

    {% if stats.turnover_years is not empty or stats.turnover_clients is not empty %}
      <div class="row">
        <div class="col-12 col-md-6 col-print-6 mb-4">
          <div class="card">
            <div class="card-header">
              <h4 class="h3 mb-0">Devis &amp; Factures par année</h4>
            </div>
            {% if stats.turnover_years is not empty %}
              <div class="card-body text-center">
                <div class="chart-js" data-chartjs-type="line" data-chartjs-data-name="turnovers_by_years"
                  data-chartjs-legend-position="right" data-chartjs-legend-hide="xs|sm|md|lg"> <!-- data-chartjs-legend-display="false" -->
                  <canvas class="w-100"></canvas>
                </div>

                <script type="text/javascript">
                  var turnovers_by_years = {
                    labels    : [],
                    datasets  : [{
                      label : 'Devis',
                      data : [],
                      backgroundColor : 'rgba(23, 162, 184, 0.5)',
                      borderColor     : 'rgba(23, 162, 184, .75)',
                      borderWidth     : 2
                    },
                    {
                      label : 'Factures',
                      data : [],
                      data : [],
                      backgroundColor : 'rgba(40, 167, 69, 0.5)',
                      borderColor     : 'rgba(40, 167, 69, .75)',
                      borderWidth     : 2
                    }]
                  };

                  {% for year, to_year in stats.turnover_years %}
                    turnovers_by_years.labels.push('{{ year }}');
                    turnovers_by_years.datasets[0].data.push({{ to_year.quotes_amount }});
                    turnovers_by_years.datasets[1].data.push({{ to_year.invoices_amount }});
                  {% endfor %}
                </script>
              </div>
              <table class="table table-striped mb-0">
                <thead>
                  <tr>
                    <th scope="col">Année</th>
                    <th scope="col">Devis</th>
                    <th scope="col">Factures</th>
                  </tr>
                </thead>
                <tbody>
                {% set rest_pay = 0 %}
                {% for year, to_year in stats.turnover_years %}
                  {% set rest_pay = rest_pay + (to_year.quotes_amount - to_year.invoices_amount) %}
                  <tr>
                    <td><b>{{ year }}</b></td>
                    <td class="text-info">{{ to_year.quotes_amount }}€</td>
                    <td class="text-success">{{ to_year.invoices_amount }}€</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <div class="card-footer text-right">
                Reste à payer: <span class="text-{% if rest_pay > 0 %}danger{% else %}success{% endif %}">{{ rest_pay }}€</span>
              </div>
            {% endif %}
          </div>
        </div>

        <div class="col-12 col-md-6 col-print-6">
          <div class="card">
            <div class="card-header">
              <h4 class="h3 mb-0">Clients</h4>
            </div>
            {% if stats.turnover_clients is not empty %}
              <div class="card-body text-center">
                <div class="chart-js" data-chartjs-type="pie" data-chartjs-data-name="turnovers_by_clients"
                  data-chartjs-legend-position="right" data-chartjs-legend-hide="xs|sm|md|lg">
                  <canvas class="w-100"></canvas>
                </div>
                <script type="text/javascript">
                  var turnovers_by_clients = {
                    labels    : [],
                    datasets  : [{
                      data: [],
                      backgroundColor : [],
                    }]
                  };

                  {% for dc in stats.turnover_clients %}
                    turnovers_by_clients.labels.push('[{{ dc.client.company }}] {{ dc.client.firstname }} {{ dc.client.lastname }}');
                    turnovers_by_clients.datasets[0].data.push({{ dc.quotes_amount }});
                    turnovers_by_clients.datasets[0].backgroundColor.push('{{ dc.client.color }}');
                  {% endfor %}
                </script>
              </div>
              <table class="table table-striped mb-0">
                <thead>
                  <tr>
                    <th scope="col"><span class="dot"></span> <span class="d-none d-print-inline">[Société] </span>Client</th>
                    <th scope="col">Devis</th>
                    <th scope="col">Reste à payer</th>
                  </tr>
                </thead>
                <tbody>
                {% for dc in stats.turnover_clients %}
                  {% set rest_pay = dc.quotes_amount - dc.invoices_amount %}
                  <tr>
                    <td>
                      <span{% if dc.client.color is not empty %} style="color: {{ dc.client.color }}"{% endif %}>
                        <span class="dot"></span><span class="d-none d-print-inline"> [{{ dc.client.company }}]</span>
                      </span> {{ dc.client.firstname }} {{ dc.client.lastname }}
                    </td>
                    <td>{{ dc.quotes_amount }}€</td>
                    <td class="text-{% if rest_pay > 0 %}danger{% else %}success{% endif %}">{{ rest_pay }}€</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% endif %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="alert alert-secondary">Aucunes données à afficher.</div>
    {% endif %}
  </div>
{% endblock %}
